:root {
  --margin: 16px;
  -webkit-user-select: none;
  user-select: none;
}

h2,
h3,
p {
  margin: 0;
}

md-icon {
  line-height: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin) 48px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(176px, auto));
  gap: var(--margin);
}

md-filled-button {
  margin: auto;
}

md-menu-item md-icon {
  margin-left: 16px;
}

#result {
  font-size: 20px;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid rgb(148, 148, 148);
}

#sketch {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.invisible {
  visibility: hidden;
}

@media (min-width: 600px) {
  :root {
    --margin: 24px;
  }
}
