---
import Layout from "../layouts/Layout.astro";

import Point from "../components/Point.astro";
import Line from "../components/Line.astro";
import Abstandbtn from "../components/Abstandbtn.astro";
---

<Layout
  title="Punkt-Gerade"
  description="Abstand zwischen einem Punkt und einer Gerade im dreidimensionalen Raum (R³) berechnen."
>
  <h2 class="display-medium">Punkt-Gerade</h2>
  <p>
    Abstand zwischen einem Punkt und einer Gerade im dreidimensionalen Raum (R³)
    berechnen.
  </p>
  <Point />
  <Line />
  <Abstandbtn />
</Layout>
