---
import Layout from "../layouts/Layout.astro";
import { MdFilledButton } from "@material/web/button/filled-button";
import Point from "../components/Point.astro";
---

<Layout
  title="Punkt-Gerade"
  description="Abstand zwischen einem Punkt und einer Gerade im dreidimensionalen Raum (R³) berechnen."
>
  <h2 class="display-medium">Punkt-Gerade</h2>
  <p>
    Abstand zwischen einem Punkt und einer Gerade im dreidimensionalen Raum (R³)
    berechnen.
  </p>
  <Point />
  <MdFilledButton>Abstand berechnen</MdFilledButton>
</Layout>
