---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
import Abstandbtn from "../components/Abstandbtn.astro";
import Visual from "../components/Visual.astro";
---

<Layout
  title="Gerade-Gerade"
  description="Abstand zwischen zwei Geraden (parallel oder windschief) im dreidimensionalen Raum (R³) berechnen."
>
  <h2 class="display-medium">Gerade-Gerade</h2>
  <p>
    Abstand zwischen zwei Geraden (parallel oder windschief) im
    dreidimensionalen Raum (R³) berechnen.
  </p>

  <Line />
  <Line />
  <Abstandbtn />
  <Visual />
</Layout>
