---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Punkt-Ebene"
  description="Abstand zwischen einem Punkt und einer Ebene im dreidimensionalen Raum (R³) berechnen."
>
  <h2 class="display-medium">Punkt-Ebene</h2>
  <p>
    Abstand zwischen einem Punkt und einer Ebene im dreidimensionalen Raum (R³)
    berechnen.
  </p>
</Layout>
