---
import { MdFilledButton } from "@material/web/button/filled-button";
---

<div class="btnbox">
  <MdFilledButton>Abstand berechnen</MdFilledButton>
</div>

<style>
  .btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
