---
import { MdFilledButton } from "@material/web/button/filled-button";
---

<div class="btnbox">
  <MdFilledButton><a @click="handleButtonClick">Abstand berechnen</a></MdFilledButton>
</div>

<style>
  .btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
