---
import { MdFilledTextField } from "@material/web/textfield/filled-text-field";
---

<h3 class="headline-medium">Gerade</h3>
<div class="container">
  <div class="vectorsection">
    <h3 class="headline-small">Richtungsvektor</h3>
    {
      (
        //RichtungsvektorX
        // @ts-expect-error
        <MdFilledTextField
          id="lineDirX"
          label="X-Koordinate"
          placeholder="42,98"
          type="number"
          client:only="lit"
        />
      )
    }
    {
      (
        //BasisvektorY
        // @ts-expect-error
        <MdFilledTextField
          id="lineDirY"
          label="Y-Koordinate"
          placeholder="42,98"
          type="number"
          client:only="lit"
        />
      )
    }
    {
      (
        //RichtungsvektorZ
        // @ts-expect-error
        <MdFilledTextField
          id="lineDirZ"
          label="Z-Koordinate"
          placeholder="42,98"
          type="number"
          client:only="lit"
        />
      )
    }
  </div>

  <div class="vectorsection">
    <h3 class="headline-small">Basisvektor</h3>
    {
      (
        //BasisvektorX
        // @ts-expect-error
        <MdFilledTextField
          id="lineBaseX"
          label="X-Koordinate"
          placeholder="42,98"
          type="number"
          client:only="lit"
        />
      )
    }
    {
      (
        //BasisvektorY
        // @ts-expect-error
        <MdFilledTextField
          id="lineBaseY"
          label="Y-Koordinate"
          placeholder="42,98"
          type="number"
          client:only="lit"
        />
      )
    }
    {
      (
        //BasisvektorZ
        // @ts-expect-error
        <MdFilledTextField
          id="lineBaseZ"
          label="Z-Koordinate"
          placeholder="42,98"
          type="number"
          client:only="lit"
        />
      )
    }
  </div>
</div>
<style>
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: var(--margin);
  }

  .vectorsection {
    display: flex;
    margin: 0 30px;
    justify-content: center;
    flex-direction: column;
  }
</style>
