---
import Vector from "./Vector.astro";

export interface Props {
  id: string;
  headline: string;
}

const { id, headline } = Astro.props;
---

<div class="column">
  <h3 class="headline-medium">{headline}</h3>
  <div class="grid">
    <div class="column">
      <h3 class="title-large">Ortsvektor</h3>
      <Vector id={`${id}-base`} />
    </div>
    <div class="column">
      <h3 class="title-large">Richtungsvektor</h3>
      <Vector id={`${id}-direction`} />
    </div>
  </div>
</div>
<style>
  .column {
    flex: 2 376px;
  }
</style>
