---
import CoordinateInput from "./CoordinateInput.astro";
---

<h3 class="headline-medium">Gerade</h3>
<div class="container">
  <div class="vectorsection">
    <h3 class="headline-small">Richtungsvektor</h3>
    {/* Richtungsvektor X */}
    <CoordinateInput id="lineDirX" label="X-Koordinate" />
    {/* Richtungsvektor Y */}
    <CoordinateInput id="lineDirY" label="Y-Koordinate" />
    {/* Richtungsvektor Z */}
    <CoordinateInput id="lineDirZ" label="Z-Koordinate" />
  </div>

  <div class="vectorsection">
    <h3 class="headline-small">Basisvektor</h3>
    {/* Basisvektor X */}
    <CoordinateInput id="lineBaseX" label="X-Koordinate" />
    {/* Basisvektor Y */}
    <CoordinateInput id="lineBaseY" label="Y-Koordinate" />
    {/* Basisvektor Z */}
    <CoordinateInput id="lineBaseZ" label="Z-Koordinate" />
  </div>
</div>
<style>
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: var(--margin);
  }

  .vectorsection {
    display: flex;
    margin: 0 30px;
    justify-content: center;
    flex-direction: column;
  }
</style>
