---
import Vector from "./Vector.astro";
---

<div class="column">
  <h3 class="headline-medium">Ebene</h3>
  <div class="grid">
    <div class="column">
      <h3 class="title-large">Ortsvektor</h3>
      <Vector id="plane-base" />
    </div>
    <div class="column">
      <h3 class="title-large">Richtungsvektor 1</h3>
      <Vector id="plane-direction-1" />
    </div>
    <div class="column">
      <h3 class="title-large">Richtungsvektor 2</h3>
      <Vector id="plane-direction-2" />
    </div>
  </div>
</div>
<style>
  .column {
    flex: 3 576px;
  }
</style>
