---
import { MdFilledTextField } from "@material/web/textfield/filled-text-field";
---

<h3 class="headline-medium">Ebene</h3>
<div class="container">
  <div class="vectorsection">
    <h3 class="headline-small">Richtungsvektor 1</h3>
  {
    (
      // @ts-expect-error
      <MdFilledTextField
        label="X-Koordinate"
        placeholder="42,98"
        type="number"
        client:only="lit"
      />
    )
  }
  {
    (
      // @ts-expect-error
      <MdFilledTextField
        label="Y-Koordinate"
        placeholder="42,98"
        type="number"
        client:only="lit"
      />
    )
  }
  {
    (
      // @ts-expect-error
      <MdFilledTextField
        label="Z-Koordinate"
        placeholder="42,98"
        type="number"
        client:only="lit"
      />
    )
  }
  </div>

  <div class="vectorsection">
    <h3 class="headline-small">Richtungsvektor 2</h3>
  {
    (
      // @ts-expect-error
      <MdFilledTextField
        label="X-Koordinate"
        placeholder="42,98"
        type="number"
        client:only="lit"
      />
    )
  }
  {
    (
      // @ts-expect-error
      <MdFilledTextField
        label="Y-Koordinate"
        placeholder="42,98"
        type="number"
        client:only="lit"
      />
    )
  }
  {
    (
      // @ts-expect-error
      <MdFilledTextField
        label="Z-Koordinate"
        placeholder="42,98"
        type="number"
        client:only="lit"
      />
    )
  }
  </div>

  <div class="vectorsection">
    <h3 class="headline-small">Ortsvektor</h3>
  {
    (
      // @ts-expect-error
      <MdFilledTextField
        label="X-Koordinate"
        placeholder="42,98"
        type="number"
        client:only="lit"
      />
    )
  }
  {
    (
      // @ts-expect-error
      <MdFilledTextField
        label="Y-Koordinate"
        placeholder="42,98"
        type="number"
        client:only="lit"
      />
    )
  }
  {
    (
      // @ts-expect-error
      <MdFilledTextField
        label="Z-Koordinate"
        placeholder="42,98"
        type="number"
        client:only="lit"
      />
    )
  }
  </div>
</div>
<style>
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: var(--margin);
  }

  .vectorsection{
    display: flex;
    margin: 0 30px;
    justify-content: center;
    flex-direction: column;
  }
</style>
