---
import Vector from "./Vector.astro";
---

<div class="column">
  <h3 class="headline-medium">Punkt</h3>
  <div class="grid">
    <Vector id="point" />
  </div>
</div>
<style>
  .column {
    justify-content: space-between;
    flex: 1 176px;
  }

  @media (min-width: 1608px) {
    div {
      grid-template-columns: auto !important;
    }
  }
</style>
