---
import CoordinateInput from "./CoordinateInput.astro";
---

<h3 class="headline-medium">Punkt</h3>
<div class="container">
  <div class="vectorsection">
    <h3 class="headline-small">Vektor</h3>
    {/* Vektor X */}
    <CoordinateInput id="pointX" label="X-Koordinate" />
    {/* Vektor Y */}
    <CoordinateInput id="pointY" label="Y-Koordinate" />
    {/* Vektor Z */}
    <CoordinateInput id="pointZ" label="Z-Koordinate" />
  </div>
</div>
<style>
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: var(--margin);
  }

  .vectorsection {
    display: flex;
    margin: 0 30px;
    justify-content: center;
    flex-direction: column;
  }
</style>
