<div class="container">
  <div id="visual"></div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<script src="../scripts/sketch.js"></script>
