---
import "@fontsource/roboto/latin-400.css";
import "@fontsource/roboto/latin-500.css";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import "../styles/theme/theme.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Abstände im R³</title>
  </head>
  <body class="surface on-surface-text body-medium">
    <Header />
    <main>
      <slot />
    </main>
    <Navigation />
  </body>
</html>
<style>
  body {
    margin: calc(64px + var(--margin)) var(--margin) calc(80px + var(--margin));
  }

  main {
    display: flex;
    flex-direction: column;
    gap: var(--margin);
    max-width: 1200px;
    margin: auto;
  }
</style>
<script src="@material/web/ripple/ripple"></script>
