---
import "@fontsource/roboto/latin-400.css";
import "@fontsource/roboto/latin-500.css";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import "../styles/theme/theme.css";

export interface Props {
  title: string;
  description: string;
}

const props = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={props.description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <meta name="generator" content={Astro.generator} />
    <title>{props.title} | Abstände im R³</title>
  </head>
  <body class="surface on-surface-text body-medium">
    <Header />
    <main class="column">
      <slot />
    </main>
    <Navigation />
  </body>
</html>
<style>
  body {
    margin: 80px 16px 96px;
  }

  main {
    max-width: 1200px;
    margin: auto;
  }

  @media (min-width: 600px) {
    body {
      margin: 88px 24px 24px 112px;
    }
  }

  @media (min-width: 841px) {
    body {
      margin-left: 384px;
    }
  }
</style>
<script src="@material/web/ripple/ripple"></script>
<script src="../scripts/global.ts"></script>
